doctype html

html(lang=language)
  head
    block page_title
      title This is the page title
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body 
    nav 
      ul
        each country in countries 
          li
            a(href=country.path class=currentPathClass(country.path, currentPath))
              img.flag(src=`/images/${country.flag}`
                       alt=country.alt
                       title=country.title)
        //- li
        //-   a(href="/english" class=)
        //-     img.flag(src="/images/flag-of-United-States-of-America.png"
        //-             alt="US Flag"
        //-             title="Go to US English site")
        //- li
        //-   a(href="/french" class=currentPathClass("/french", currentPath))
        //-     img.flag(src="/images/flag-of-France.png"
        //-             alt="Drapeau de la france"
        //-             title="Aller sur le site français")
        //- li
        //-   a(href="/serbian" class=currentPathClass("/serbian", currentPath))
        //-     img.flag(src="/images/flag-of-Serbia.png"
        //-             alt="Застава Србије"
        //-             title="Идите на српски сајт")
        
        //- li 
        //-   a(href="/spanish" class=currentPathClass("/spanish", currentPath))
        //-     img.flag(src="/images/flag-of-Spain.png"
        //-              alt="La bandera de España"
        //-              title="Redirigir al sito en español")

    header 
      block greeting
        h1 Hello World! 

    main 
      block software_engineer